[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
click-aliases = "*"
pandas = "*"
petl = "*"
pygments = "*"
pymysql = "*"
sentry-sdk = "*"
sqlalchemy = "==1.4.*"
PyYAML = "<= 5.3.1"

[dev-packages]
setuptools = "*"
wheel = "*"
tqdm = "*"
twine = "*"
setuptools-pipfile = "*"
black = "==20.8b1"
pylint = "*"

[requires]
python_version = ">=3.8"
