[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
click-aliases = "*"
jaeger-client = "*"
pandas = "*"
petl = "*"
pygments = "*"
pymysql = "*"
sqlalchemy = "*"
pyaml = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
tqdm = "*"
twine = "*"
setuptools-pipfile = "*"
black = "==20.8b1"
pylint = "*"

[requires]
python_version = "3.8"
