# For filling in placeholders in typical keanu.yaml file.
DATABASE_URL=mysql+pymysql://user:pass@host/db
SOURCE=civicrm_db_name
RATE_SOURCE=civicrm_db_name

# For tracing load subcommand times
JAEGER_AGENT_HOST=jaeger.example.com

# For metabase subcommand
METABASE_ENDPOINT=https://metabase.lovedata.org
METABASE_AUTH_EMAIL=email@of.metabase.user.com
METABASE_AUTH_PASSWORD=password_of_metabase_user
