[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
metabase = ">=1.3"
petl = "*"
python-dotenv = "*"
pymysql = "*"
pygments = "*"
requests = "*"
sqlalchemy = "*"
pyaml = "*"
jaeger-client = "*"
pandas = "*"
click-aliases = "*"
slug = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
tqdm = "*"
twine = "*"
setuptools-pipfile = "*"

[requires]
python_version = "3.5"
